body {
    font-family: Arial, sans-serif;
    margin: 30px;
    background-color: #f9f4f4f5;
}

h1,
h2 {
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    width: 350px;
    margin: auto;
    gap: 10px;
}

input,
select,
button {
    padding: 10px;
    font-size: 16px;
    border-width: thick;
}

button {
    background-color: #1bdc09;
    color: white;
    border-width: thick;
    cursor: pointer;
}

button:hover {
    background-color: #0a4b03;
}

button:focus {
    outline: 3px solid rgb(14, 13, 13);
}

#story {
    margin: 30px auto;
    width: 350px;
    border: 2px solid rgb(13, 13, 13);
    background-color: white;
    padding: 20px;
    min-height: 80px;
}

.highlight {
    color: rgba(218, 18, 225, 0.996);
    font-weight: bold;
}